<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <table>
        <thead>
        <tr>
          <th>Bank Name</th>
          <th>Country</th>
          <th>Total Assets (US$bn)</th>  
        </tr>
        </thead>
        <tbody>

        </tbody>
        <select id="banktablelist" onchange="banktablechange(this.value)"></select>
    </table>
    <div id="countrybankcountline" data-aos="flip-up"></div>
    <div id="countrybankdropdown">
        <select id="countrybanklist" onchange="countrybankchange(this.value)"></select>
    </div>
    <div id="timebankcountbar" data-aos="flip-up">
        <select id="timebanklist" onchange="timebankchange(this.value)"></select>
    </div>
    <div id="tacountrysumline" data-aos="flip-up">
        <select id="countrysumlist" onchange="countrysumchange(this.value)"></select>
    </div>
    <div id="tatimesumbar" data-aos="flip-up">
        <select id="timesumlist" onchange="timesumchange(this.value)"></select>
    </div>
    <div id="bankassetsline" data-aos="flip-up">
        <select id="bankassetslist" onchange="bankassetschange(this.value)"></select>
    </div>
    <div id="usgdp" ></div>
    <div id="chinagdp"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
        AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  

         // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 1000, // values from 0 to 3000, with step 50ms
        easing: 'ease-in-out', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        });
      </script>
      
    <script src="static/js/app.js"></script>
    
</body>
</html>